* {
    background-color: aliceblue;
}

#title {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.totalPrice {
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#totalPriceInput {
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 90px;
}

.totalTip {
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#tipInput {
    text-align: center;
    position: relative;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 90px;
}

.buttons {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#calculate {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    cursor: pointer;
}

#calculate:hover {
    background-color: lightgreen;
}

#reset {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    cursor: pointer;
}

#reset:hover {
    background-color: darkred;
}

#tipAmount {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 45px;
}

#output {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 100px;
}

footer {
    top: 80px;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
